<!DOCTYPE html>
<html lang="en" translate="no" data-dpr="1" style="font-size: 40.5px;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <meta name="google" content="notranslate">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>Abc Win</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="../index_files/modules-96c1e775.css">
  <link rel="stylesheet" href="../index_files/page-activity-d48e62db.css">
  <link rel="stylesheet" href="../index_files/index-96409872.css">
  <link rel="stylesheet" href="../index_files/page-home-58543d87.css">


  <link rel="stylesheet" href="../assets/css/_vite_template-88676b31.css">
  <link rel="stylesheet" href="../assets/css/index-3cf8aaa6.css"> 
  <link rel="stylesheet" href="../assets/css/index-8d0b9742.css"> 
  <link rel="stylesheet" href="../assets/css/index-d27f4bf1.css">   
  <link rel="stylesheet" href="../assets/css/NavBar-c40aa6d4.css"> 
  <link rel="stylesheet" href="../assets/css/index-dc81589f.css">
  
  <style>

.fun-tabs {
    
    background: #f7f8ff !important;
}
.fun-tabs {
    overflow: auto !important;
    position: relative;
    margin-top: 0.5rem;
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
div#lottery {
  margin-top: 0.5rem;
    padding: 0.3rem;
}
.luckyWinners__container {
    padding: 0.2rem !important;
}
.dailyProfitRank {
    padding: 0.2rem;
}
.terms {
    padding: 0.5rem !important;
}
.settingPanel__container.panel-daman {
    padding: 0.5rem !important;
}

.tab_item {
    background: #fff;
}

.onlineGames__container[data-v-6dbd07ea] .tabs .tab_item {
    
    height: 1.53333rem !important;
    
}
.settingPanel__container-items {
    margin-bottom: 3.5rem;
}



  </style>

</head>
<!-- Dialog HTML -->


<body style="font-size: 12px;" class="">
  
  <div id="app" data-v-app="">
    
    <!---->
    <div data-v-6dbd07ea="" class="onlineGames__container" style="--f817f0ee: 'Roboto', 'Inter', sans-serif;">
      <div data-v-58c5e826="" data-v-9bebd08e="" class="navbar">
        <div data-v-58c5e826="" class="navbar-fixed" style="background: rgb(43 50 112);">
          <div data-v-58c5e826="" class="navbar__content">
            
            <div data-v-6dbd07ea="" class="fun-tabs tabs">
              <div class="fun-tabs__tab-list" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item tab_active"  onclick="location.href='/lottery'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240221154540veqj.png">
                        <span data-v-6dbd07ea="">
                          LOTTERY
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                
                
                
                <div class="fun-tab-item funtab_item">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label" >
                      <div data-v-6dbd07ea="" class="tab_item" onclick="location.href='/slotjili'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240221154558lshk.png">
                        <span data-v-6dbd07ea="">
                          SLOTS
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/original'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240415161436vabi.png">
                        <span data-v-6dbd07ea="">
                          ORIGINAL
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/casino'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_202404171805108e3f.png">
                        <span data-v-6dbd07ea="">
                          CASINO
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/rummy'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_202404151616441889.png">
                        <span data-v-6dbd07ea="">
                          RUMMY
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/fishing'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240221164829vcfa.png">
                        <span data-v-6dbd07ea="">
                          FISHING
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/sports'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240221154454akso.png">
                        <span data-v-6dbd07ea="">
                          SPORTS
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                <div class="fun-tab-item funtab_item" style="">
                  <div class="fun-tab-item__wrap">
                    <div class="fun-tab-item__label">
                      <div data-v-6dbd07ea="" class="tab_item"  onclick="location.href='/popular'">
                        <img data-v-6dbd07ea="" src="/assets/png/gamecategory_20240221154444kutg.png">
                        <span data-v-6dbd07ea="">
                          POPULAR
                        </span>
                      </div>
                    </div>
                    <!--v-if-->
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!---->
    <!---->
    <!---->



    <div data-v-c67ad2ea="" data-v-c62eac27="" class="daman-lottery-list" id="lottery">
      <!---->
      <!---->
      <div data-v-52f62447="" data-v-c67ad2ea="" class="daman-title">
        <div data-v-52f62447="" class="daman-title-left">
          <span data-v-9e5455f6="" data-v-52f62447="" class="cms-icon" style="font-size: 24px;">
            <img data-v-c67ad2ea="" src="../assets/png/fire.png" width="25px">
          </span>
          <span data-v-52f62447="">
            Popular Lottery
          </span>
        </div>
        <div data-v-52f62447="" class="btn-all" style="display: none;">
          
          <span data-v-52f62447="">
          </span>
          <svg data-v-52f62447="" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" viewBox="0 0 24 24" fill="none">
            <path data-v-52f62447="" fill-rule="evenodd" clip-rule="evenodd" d="M8.5064 19.541C7.99993 19.9904 7.2002 19.6308 7.2002 18.9537C7.2002 18.7288 7.29666 18.5147 7.46512 18.3657L14.6731 11.9896C14.7178 11.95 14.7181 11.8804 14.6738 11.8404L7.45763 5.33217C7.29374 5.18437 7.2002 4.97403 7.2002 4.75334C7.2002 4.078 8.00051 3.72221 8.50188 4.17465L15.8798 10.8325L16.2562 11.1964C16.6628 11.5895 16.6628 12.2412 16.2562 12.6343L15.8798 12.9982L8.5064 19.541Z"
            fill="#fff">
            </path>
          </svg>
        </div>
      </div>
      <div data-v-c67ad2ea="" class="daman-hot">
        <div data-v-c67ad2ea="" class="daman-hot-item"  onclick="location.href='/win'">
          <h3 data-v-c67ad2ea="">
            Trx 1Min
          </h3>
          <p data-v-c67ad2ea="">
            Countdown to lottery
          </p>
          <div data-v-c67ad2ea="" class="icon">
            <svg data-v-c67ad2ea="" xmlns="http://www.w3.org/2000/svg" width="160"
            height="57" viewBox="0 0 160 57" fill="none">
              <path data-v-c67ad2ea="" fill-rule="evenodd" clip-rule="evenodd" d="M52 5H4C1.79086 5 0 6.79086 0 9V53C0 55.2091 1.79086 57 4 57H156C158.209 57 160 55.2091 160 53V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="white">
              </path>
              <path data-v-c67ad2ea="" d="M52 5H4C1.79086 5 0 6.79086 0 9V14H160V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="#2AC1FA">
              </path>
              <path data-v-c67ad2ea="" d="M53 2C53 0.89543 53.8954 0 55 0C56.1046 0 57 0.895431 57 2V8C57 9.10457 56.1046 10 55 10C53.8954 10 53 9.10457 53 8V2Z"
              fill="#2AC1FA">
              </path>
              <path data-v-c67ad2ea="" d="M103 2C103 0.89543 103.895 0 105 0C106.105 0 107 0.895431 107 2V8C107 9.10457 106.105 10 105 10C103.895 10 103 9.10457 103 8V2Z"
              fill="#2AC1FA">
              </path>
              <path data-v-c67ad2ea="" d="M80 26V46" stroke="#E8E8E8" stroke-linecap="round">
              </path>
            </svg>
            <p data-v-c67ad2ea="" style="color: rgb(42, 193, 250);">
              <span data-v-c67ad2ea="">
                00
              </span>
              <span data-v-c67ad2ea="">
                60
              </span>
            </p>
          </div>
        </div>
        <div data-v-c67ad2ea="" class="daman-hot-item" onclick="location.href='/5d'">
          <h3 data-v-c67ad2ea="">
            5D 1Min
          </h3>
          <p data-v-c67ad2ea="">
            Countdown to lottery
          </p>
          <div data-v-c67ad2ea="" class="icon">
            <svg data-v-c67ad2ea="" xmlns="http://www.w3.org/2000/svg" width="160"
            height="57" viewBox="0 0 160 57" fill="none">
              <path data-v-c67ad2ea="" fill-rule="evenodd" clip-rule="evenodd" d="M52 5H4C1.79086 5 0 6.79086 0 9V53C0 55.2091 1.79086 57 4 57H156C158.209 57 160 55.2091 160 53V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="white">
              </path>
              <path data-v-c67ad2ea="" d="M52 5H4C1.79086 5 0 6.79086 0 9V14H160V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="#FFC56D">
              </path>
              <path data-v-c67ad2ea="" d="M53 2C53 0.89543 53.8954 0 55 0C56.1046 0 57 0.895431 57 2V8C57 9.10457 56.1046 10 55 10C53.8954 10 53 9.10457 53 8V2Z"
              fill="#FFC56D">
              </path>
              <path data-v-c67ad2ea="" d="M103 2C103 0.89543 103.895 0 105 0C106.105 0 107 0.895431 107 2V8C107 9.10457 106.105 10 105 10C103.895 10 103 9.10457 103 8V2Z"
              fill="#FFC56D">
              </path>
              <path data-v-c67ad2ea="" d="M80 26V46" stroke="#E8E8E8" stroke-linecap="round">
              </path>
            </svg>
            <p data-v-c67ad2ea="" style="color: rgb(255, 197, 109);">
              <span data-v-c67ad2ea="">
                00
              </span>
              <span data-v-c67ad2ea="">
                60
              </span>
            </p>
          </div>
        </div>
        <div data-v-c67ad2ea="" class="daman-hot-item"   onclick="location.href='/win'">
          <h3 data-v-c67ad2ea="">
            WinGo 1Min
          </h3>
          <p data-v-c67ad2ea="">
            Countdown to lottery
          </p>
          <div data-v-c67ad2ea="" class="icon">
            <svg data-v-c67ad2ea="" xmlns="http://www.w3.org/2000/svg" width="160"
            height="57" viewBox="0 0 160 57" fill="none">
              <path data-v-c67ad2ea="" fill-rule="evenodd" clip-rule="evenodd" d="M52 5H4C1.79086 5 0 6.79086 0 9V53C0 55.2091 1.79086 57 4 57H156C158.209 57 160 55.2091 160 53V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="white">
              </path>
              <path data-v-c67ad2ea="" d="M52 5H4C1.79086 5 0 6.79086 0 9V14H160V9C160 6.79086 158.209 5 156 5H108V8C108 9.65685 106.657 11 105 11C103.343 11 102 9.65685 102 8V5H58V8C58 9.65685 56.6569 11 55 11C53.3431 11 52 9.65685 52 8V5Z"
              fill="#FF6DC5">
              </path>
              <path data-v-c67ad2ea="" d="M53 2C53 0.89543 53.8954 0 55 0C56.1046 0 57 0.895431 57 2V8C57 9.10457 56.1046 10 55 10C53.8954 10 53 9.10457 53 8V2Z"
              fill="#FF6DC5">
              </path>
              <path data-v-c67ad2ea="" d="M103 2C103 0.89543 103.895 0 105 0C106.105 0 107 0.895431 107 2V8C107 9.10457 106.105 10 105 10C103.895 10 103 9.10457 103 8V2Z"
              fill="#FF6DC5">
              </path>
              <path data-v-c67ad2ea="" d="M80 26V46" stroke="#E8E8E8" stroke-linecap="round">
              </path>
            </svg>
            <p data-v-c67ad2ea="" style="color: rgb(255, 109, 197);">
              <span data-v-c67ad2ea="">
                00
              </span>
              <span data-v-c67ad2ea="">
                60
              </span>
            </p>
          </div>
        </div>
      </div>
      <div data-v-52f62447="" data-v-c67ad2ea="" class="daman-title daman-line">
        <div data-v-52f62447="" class="daman-title-left">
          <span data-v-9e5455f6="" data-v-52f62447="" class="cms-icon" style="font-size: 24px; display: none;">
            <svg data-v-9e5455f6="" aria-hidden="true">
              <use data-v-9e5455f6="" href="#cms-icon-hot" fill="">
              </use>
            </svg>
          </span>
          <span data-v-52f62447="">
            Lottery
          </span>
        </div>
        <div data-v-52f62447="" class="btn-all" style="display: none;">
          <p data-v-52f62447="">
            All
          </p>
          <span data-v-52f62447="">
          </span>
          <svg data-v-52f62447="" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" viewBox="0 0 24 24" fill="none">
            <path data-v-52f62447="" fill-rule="evenodd" clip-rule="evenodd" d="M8.5064 19.541C7.99993 19.9904 7.2002 19.6308 7.2002 18.9537C7.2002 18.7288 7.29666 18.5147 7.46512 18.3657L14.6731 11.9896C14.7178 11.95 14.7181 11.8804 14.6738 11.8404L7.45763 5.33217C7.29374 5.18437 7.2002 4.97403 7.2002 4.75334C7.2002 4.078 8.00051 3.72221 8.50188 4.17465L15.8798 10.8325L16.2562 11.1964C16.6628 11.5895 16.6628 12.2412 16.2562 12.6343L15.8798 12.9982L8.5064 19.541Z"
            fill="#fff">
            </path>
          </svg>
        </div>
      </div>
      <div data-v-c67ad2ea="" class="daman-item"   onclick="location.href='/win'">
        <div data-v-c67ad2ea="" class="daman-item-left">
          <h3 data-v-c67ad2ea="">
            Win Go
          </h3>
          <img data-v-c67ad2ea="" alt="" data-src="/images/main/lotterycategory_20240124125544jt65.png"
          src="/images/main/lotterycategory_20240124125544jt65.png"
          lazy="loaded">
        </div>
        <div data-v-c67ad2ea="" class="daman-item-right">
          <div data-v-c67ad2ea="" class="top">
            <h3 data-v-c67ad2ea="">
              Win Go
            </h3>
            <div data-v-c67ad2ea="" class="daman-btn">
              <span data-v-c67ad2ea="">
                GO
              </span>
              <span data-v-9e5455f6="" data-v-c67ad2ea="" class="cms-icon" style="font-size: 16px;">
                <svg data-v-9e5455f6="" aria-hidden="true">
                  <use data-v-9e5455f6="" href="#cms-icon-arrow-right" fill="">
                  </use>
                </svg>
              </span>
            </div>
          </div>
          <div data-v-c67ad2ea="" class="pool">
            <span data-v-c67ad2ea="">
              The highest bonus in history
            </span>
            <span data-v-c67ad2ea="" class="line">
            </span>
            <span data-v-c67ad2ea="" class="num">
              ₹0.00
            </span>
          </div>
          <p data-v-c67ad2ea="" class="tips">
            Through the platform WIN GO Hash lottery seed as the result of the lottery
          </p>
        </div>
      </div>
      <div data-v-c67ad2ea="" class="daman-item"  onclick="location.href='/k3'">
        <div data-v-c67ad2ea="" class="daman-item-left">
          <h3 data-v-c67ad2ea="">
            K3
          </h3>
          <img data-v-c67ad2ea="" alt="" data-src="/images/main/lotterycategory_20240124125551se9i.png"
          src="/images/main/lotterycategory_20240124125551se9i.png"
          lazy="loaded">
        </div>
        <div data-v-c67ad2ea="" class="daman-item-right">
          <div data-v-c67ad2ea="" class="top">
            <h3 data-v-c67ad2ea="">
              K3
            </h3>
            <div data-v-c67ad2ea="" class="daman-btn">
              <span data-v-c67ad2ea="">
                GO
              </span>
              <span data-v-9e5455f6="" data-v-c67ad2ea="" class="cms-icon" style="font-size: 16px;">
                <svg data-v-9e5455f6="" aria-hidden="true">
                  <use data-v-9e5455f6="" href="#cms-icon-arrow-right" fill="">
                  </use>
                </svg>
              </span>
            </div>
          </div>
          <div data-v-c67ad2ea="" class="pool">
            <span data-v-c67ad2ea="">
              The highest bonus in history
            </span>
            <span data-v-c67ad2ea="" class="line">
            </span>
            <span data-v-c67ad2ea="" class="num">
              ₹0.00
            </span>
          </div>
          <p data-v-c67ad2ea="" class="tips">
            The player predicts 3 DICE numbers, the winning rate is high, the gameplay
            is simple, and it is easy to win
          </p>
        </div>
      </div>
      <div data-v-c67ad2ea="" class="daman-item"   onclick="location.href='/5d'">
        <div data-v-c67ad2ea="" class="daman-item-left">
          <h3 data-v-c67ad2ea="">
            5D
          </h3>
          <img data-v-c67ad2ea="" alt="" data-src="/images/main/lotterycategory_20240124125558slo1.png"
          src="/images/main/lotterycategory_20240124125558slo1.png"
          lazy="loaded">
        </div>
        <div data-v-c67ad2ea="" class="daman-item-right">
          <div data-v-c67ad2ea="" class="top">
            <h3 data-v-c67ad2ea="">
              5D
            </h3>
            <div data-v-c67ad2ea="" class="daman-btn">
              <span data-v-c67ad2ea="">
                GO
              </span>
              <span data-v-9e5455f6="" data-v-c67ad2ea="" class="cms-icon" style="font-size: 16px;">
                <svg data-v-9e5455f6="" aria-hidden="true">
                  <use data-v-9e5455f6="" href="#cms-icon-arrow-right" fill="">
                  </use>
                </svg>
              </span>
            </div>
          </div>
          <div data-v-c67ad2ea="" class="pool">
            <span data-v-c67ad2ea="">
              The highest bonus in history
            </span>
            <span data-v-c67ad2ea="" class="line">
            </span>
            <span data-v-c67ad2ea="" class="num">
              ₹0.00
            </span>
          </div>
          <p data-v-c67ad2ea="" class="tips">
            5 numbers are used as the result of the lottery, and the playing methods
            are flexible and diverse
          </p>
        </div>
      </div>
      <div data-v-c67ad2ea="" class="daman-item"   onclick="location.href='/win'">
        <div data-v-c67ad2ea="" class="daman-item-left">
          <h3 data-v-c67ad2ea="">
            Trx Win Go
          </h3>
          <img data-v-c67ad2ea="" alt="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
          src="/images/main/lotterycategory_20240124125606db4a.png"
          lazy="loaded">
        </div>
        <div data-v-c67ad2ea="" class="daman-item-right">
          <div data-v-c67ad2ea="" class="top">
            <h3 data-v-c67ad2ea="">
              Trx Win Go
            </h3>
            <div data-v-c67ad2ea="" class="daman-btn">
              <span data-v-c67ad2ea="">
                GO
              </span>
              <span data-v-9e5455f6="" data-v-c67ad2ea="" class="cms-icon" style="font-size: 16px;">
                <svg data-v-9e5455f6="" aria-hidden="true">
                  <use data-v-9e5455f6="" href="#cms-icon-arrow-right" fill="">
                  </use>
                </svg>
              </span>
            </div>
          </div>
          <div data-v-c67ad2ea="" class="pool">
            <span data-v-c67ad2ea="">
              The highest bonus in history
            </span>
            <span data-v-c67ad2ea="" class="line">
            </span>
            <span data-v-c67ad2ea="" class="num">
              ₹0.00
            </span>
          </div>
          <p data-v-c67ad2ea="" class="tips">
            By obtaining the real-time hash value of the TRX blockchain as the result
            of the lottery
          </p>
        </div>
      </div>
    </div>







  
      
      
    <div data-v-6a35701e="" class="luckyWinners__container">
      <h1 data-v-6a35701e="">
        Winning information
      </h1>
      <div data-v-6a35701e="" class="luckyWinners__container-wrapper">
        <div data-v-6a35701e="" style="position: relative;">
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/5-ab77b716.png" src="../assets/png/5-ab77b716.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***FYR
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹19.60
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/8-ea087ede.png" src="/assets/png/8-ea087ede.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***TDX
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹39.20
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/18-52955242.png" src="/assets/png/18-52955242.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***LRA
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹588.00
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/5-ab77b716.png" src="/assets/png/5-ab77b716.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***MDX
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹196.00
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/11-925c456e.png" src="/assets/png/11-925c456e.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***BOP
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹39.20
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
          <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item">
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-img">
              <img data-v-6a35701e="" data-src="/assets/png/8-ea087ede.png" src="/assets/png/8-ea087ede.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-info">
              <h1 data-v-6a35701e="">
                Mem***QZC
              </h1>
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winType">
              <img data-v-6a35701e="" data-src="/images/main/lotterycategory_20240124125606db4a.png"
              src="/images/main/lotterycategory_20240124125606db4a.png"
              lazy="loaded">
            </div>
            <div data-v-6a35701e="" class="luckyWinners__container-wrapper__item-winAmount">
              <h1 data-v-6a35701e="">
                Receive ₹196.00
              </h1>
              <span data-v-6a35701e="">
                Winning amount
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
      

    <div data-v-4a4a4c0e="" class="dailyProfitRank">
      <h1 data-v-4a4a4c0e="">
        Today's earnings chart
      </h1>
      <div data-v-4a4a4c0e="" class="dailyProfitRank__content">
        <div data-v-4a4a4c0e="" class="dailyProfitRank__content-topThree rank-stage">
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-topThree__item"
          style="order: 2; top: -45px;">
            <div data-v-4a4a4c0e="" class="rank_border1">
              <img data-v-4a4a4c0e="" data-src="/assets/png/17-bedde42f.png" src="/assets/png/17-bedde42f.png"
              lazy="loaded">
            </div>
            <div data-v-4a4a4c0e="">
              <div data-v-4a4a4c0e="" class="rank_crown1">
              </div>
              <div data-v-4a4a4c0e="" class="rank_place1">
              </div>
            </div>
            <span data-v-4a4a4c0e="">
              Mem***XBN
            </span>
            <span data-v-4a4a4c0e="">
              ₹36,407,782,33
            </span>
          </div>
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-topThree__item"
          style="order: 1; top: -30px;">
            <div data-v-4a4a4c0e="" class="rank_border2">
              <img data-v-4a4a4c0e="" data-src="/assets/png/4-12a0d0c5.png" src="/assets/png/4-12a0d0c5.png"
              lazy="loaded">
            </div>
            <div data-v-4a4a4c0e="">
              <div data-v-4a4a4c0e="" class="rank_crown2">
              </div>
              <div data-v-4a4a4c0e="" class="rank_place2">
              </div>
            </div>
            <span data-v-4a4a4c0e="">
              Mem***PUG
            </span>
            <span data-v-4a4a4c0e="">
              ₹1,659,220,06
            </span>
          </div>
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-topThree__item"
          style="order: 3; top: -30px;">
            <div data-v-4a4a4c0e="" class="rank_border3">
              <img data-v-4a4a4c0e="" data-src="/assets/png/16-cf8e1441.png" src="/assets/png/16-cf8e1441.png"
              lazy="loaded">
            </div>
            <div data-v-4a4a4c0e="">
              <div data-v-4a4a4c0e="" class="rank_crown3">
              </div>
              <div data-v-4a4a4c0e="" class="rank_place3">
              </div>
            </div>
            <span data-v-4a4a4c0e="">
              Mem***ECG
            </span>
            <span data-v-4a4a4c0e="">
              ₹1,088,815,35
            </span>
          </div>
        </div>
        <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list">
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              4
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***OPR
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹902,039,04
            </span>
          </div>
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              5
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***CAJ
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹881,744,80
            </span>
          </div>
        <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list">
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              4
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***OPR
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹902,039,04
            </span>
          </div>
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              5
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***CAJ
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹881,744,80
            </span>
          </div>
        <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list">
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              4
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***OPR
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹902,039,04
            </span>
          </div>
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              5
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***CAJ
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹881,744,80
            </span>
          </div>
        <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list">
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              4
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***OPR
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹902,039,04
            </span>
          </div>
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              5
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***CAJ
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹881,744,80
            </span>
          </div>
        <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list">
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              4
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***OPR
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹902,039,04
            </span>
          </div>
          <div data-v-4a4a4c0e="" class="dailyProfitRank__content-list__item">
            <span data-v-4a4a4c0e="" class="left-rank">
              5
            </span>
            <img data-v-4a4a4c0e="" data-src="/assets/png/9-6d772f2c.png" src="/assets/png/9-6d772f2c.png"
            lazy="loaded">
            <span data-v-4a4a4c0e="" class="middle-name">
              Mem***CAJ
            </span>
            <span data-v-4a4a4c0e="" class="right-box">
              ₹881,744,80
            </span>
          </div>
        </div>
      </div>
    </div>





















    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
  </div>
  <div data-v-app="">
  </div>
  <div class="van-overlay" style="z-index: 2001; display: none;">
    <!---->
  </div>
  <div role="dialog" tabindex="0" class="van-popup van-popup--center van-dialog gameDialog"
  aria-labelledby="Tips" style="z-index: 2001; display: none;">
    <div class="van-dialog__header">
      Tips
    </div>
    <div class="van-dialog__content">
      <div class="van-dialog__message van-dialog__message--has-title">
        Are you sure you want to join the game?
      </div>
    </div>
    <div class="van-hairline--top van-dialog__footer">
      <button type="button" class="van-button van-button--default van-button--large van-dialog__cancel">
        <div class="van-button__content">
          <!---->
          <span class="van-button__text">
            Cancel
          </span>
          <!---->
        </div>
      </button>
      <button type="button" class="van-button van-button--default van-button--large van-dialog__confirm van-hairline--left">
        <div class="van-button__content">
          <!---->
          <span class="van-button__text">
            Confirm
          </span>
          <!---->
        </div>
      </button>
    </div>
    <!---->
  </div>


  <head>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link rel="stylesheet" href="../index_files/index-96409872.css">
    <link rel="stylesheet" href="../assets/css/index-3cf8aaa6.css"> 
</head>
<style>
    .block-click {
        pointer-events: none;  
    }

    .tabbar__container-item[data-v-76c247f8]:nth-of-type(3) svg {
    position: absolute;
    bottom: 0.8rem !important;
    width: 0.86667rem !important;
    height: 0.86667rem !important;
    z-index: 3;
}
</style>

  <div data-v-76c247f8="" class="tabbar__container"
    style="--7688837a: &#39;Roboto&#39;, &#39;Inter&#39;, sans-serif;">
    <div data-v-76c247f8="" class="tabbar__container-item" onclick="window.location='/home'">
      <svg data-v-76c247f8="" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56"
        fill="none" class="">
        <g clip-path="url(#clip0_226_251)">
          <path fill="#50a1f2" d="m7.664 14.856 1.112 1.662zm13.5-9.03-1.112-1.663zm6.672 0 1.112-1.663zm13.5 9.03-1.112 1.662zM6.552 13.193A8 8 0 0 0 3 19.843h4a4 4 0 0 1 1.776-3.325zm13.5-9.03-13.5 9.03 2.224 3.325 13.5-9.03zm8.896 0a8 8 0 0 0-8.896 0l2.224 3.325a4 4 0 0 1 4.448 0zm13.5 9.03-13.5-9.03-2.224 3.325 13.5 9.03zM46 19.843a8 8 0 0 0-3.552-6.65l-2.224 3.325A4 4 0 0 1 42 19.843zm0 21.185V19.843h-4v21.185zm-4 4a4 4 0 0 0 4-4h-4zm-14.474 0H42v-4H27.526zm-4-13.837v9.837h4V31.19zm-6.263 0h6.263v-4h-6.263zm0 9.837V31.19h-4v9.837zM7 45.028h6.263v-4H7zm-4-4a4 4 0 0 0 4 4v-4zm0-21.185v21.185h4V19.843zm29.507 1.286v1.03h4v-1.03zm-4.98 0h4.98v-4h-4.98zm0 1.03v-1.03h-4v1.03zm4.98 0h-4.98v4h4.98zm-8.98 0a4 4 0 0 0 4 4v-4zm4-5.03a4 4 0 0 0-4 4h4zm4.98 5.03v4a4 4 0 0 0 4-4zM13.263 41.029v4a4 4 0 0 0 4-4zm4-13.837a4 4 0 0 0-4 4h4zm19.244-6.062a4 4 0 0 0-4-4v4zm-8.98 10.061a4 4 0 0 0-4-4v4zm0 9.838h-4a4 4 0 0 0 4 4z" mask="url(#a)"></path>
        </g>
        <defs>
          <lineargradient id="paint0_linear_226_251" x1="2.604" y1="52.0931" x2="2.604" y2="4.55225"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#374992"></stop>
            <stop offset="1" stop-color="#4675d2"></stop>
          </lineargradient>
          <lineargradient id="paint0_linear_226_233" x1="6.5116" y1="52.7442" x2="6.5116" y2="3.90698"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#61a9ff"></stop>
            <stop offset="1" stop-color="#59b0ea"></stop>
          </lineargradient>
          <clippath id="clip0_226_251">
            <rect width="56" height="56" fill="white"></rect>
          </clippath>
        </defs>
      </svg>
      <span data-v-76c247f8="" onclick="window.location='/home'">Home</span>
    </div>
    <div data-v-76c247f8="" class="tabbar__container-item" onclick="window.location='/activity'">
      <svg data-v-76c247f8="" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56"
        fill="none" class="">
        <g clip-path="url(#clip0_226_254)">
          <path stroke="#50a1f2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M38 30H10a6 6 0 0 0 0 12h28a6 6 0 0 0 0-12M36 22a8 8 0 1 0 0-16 8 8 0 0 0 0 16M5.414 15.414a2 2 0 0 1 0-2.828l6.172-6.172a2 2 0 0 1 2.828 0l6.172 6.172a2 2 0 0 1 0 2.828l-6.172 6.172a2 2 0 0 1-2.828 0z"></path>
        </g>
        <defs>
          <lineargradient id="paint0_linear_226_254" x1="2.60074" y1="52.7442" x2="2.60074" y2="3.90503"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#374992"></stop>
            <stop offset="1" stop-color="#4675d2"></stop>
          </lineargradient>
          <lineargradient id="paint0_linear_226_233" x1="6.5116" y1="52.7442" x2="6.5116" y2="3.90698"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#61a9ff"></stop>
            <stop offset="1" stop-color="#59b0ea"></stop>
          </lineargradient>
          <clippath id="clip0_226_254">
            <rect width="56" height="56" fill="white"></rect>
          </clippath>
        </defs>
      </svg>
      <span data-v-76c247f8="" onclick="window.location='/activity'">Activity</span>
    </div>
    
    <div data-v-76c247f8="" class="tabbar__container-item" onclick="window.location='/promotion'">
      <div data-v-c4b9aaee="" class="promotionBg"></div>
      <svg data-v-c4b9aaee="" xmlns="http://www.w3.org/2000/svg" width="57" height="49" fill="none" viewBox="0 0 57 49" class="">
        <path fill="#fff" fill-rule="evenodd" d="M8.939 1.501A4 4 0 0 1 12.062 0h32.155a4 4 0 0 1 3.124 1.501l7.738 9.673c.427.533.749 1.12.968 1.735H.233a5.99 
        5.99 0 0 1 .967-1.735zM0 16.091h56.28a5.985 5.985 0 0 1-1.277 2.673l-23.79 28.549a4 4 0 0 1-6.146 0l-23.79-28.55A5.984 5.984 0 0 1 0 16.092m20.556 
        5.936 7.195 10.102a.5.5 0 0 0 .816-.002l7.118-10.093a2.44 2.44 0 0 1 4.435 1.406v.2h-.223c-.326 0-.782.248-1.304.93-.506.663-6.466 8.724-9.651 
        13.035a.975.975 0 0 1-1.563.007L17.32 24.26s-.394-.62-1.06-.62h-.14v-.195a2.445 2.445 0 0 1 4.436-1.418" clip-rule="evenodd">
        </path>
      </svg>
      <span data-v-76c247f8="" onclick="window.location='/promotion'">Promotion</span>
    </div>
    <div data-v-76c247f8="" class="tabbar__container-item" onclick="window.location='/wallet'">
      <svg data-v-c4b9aaee="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44" class=""><path fill="url(#a)" fill-rule="evenodd" d="M17.982 11.969 31.785 4l4.612 7.989z" clip-rule="evenodd"></path><path fill="url(#b)" fill-rule="evenodd" d="M6 12a2 2 0 0 0-2 2v28a2 2 0 0 0 2 2h36a2 2 0 0 0 2-2v-8h-8.75C31.845 34 29 31.36 29 28s2.845-6 6.25-6H44v-8a2 2 0 0 0-2-2zm25 16c0-2.164 1.856-4 4.25-4H43v8h-7.75C32.856 32 31 30.164 31 28" clip-rule="evenodd"></path><defs><linearGradient id="a" x1="22.5" x2="36" y1="4" y2="14" gradientUnits="userSpaceOnUse"><stop stop-color="#50a1f2"></stop><stop offset="1" stop-color="#85daff"></stop></linearGradient><linearGradient id="b" x1="6.5" x2="35.5" y1="12" y2="44" gradientUnits="userSpaceOnUse"><stop stop-color="#50a1f2"></stop><stop offset="1" stop-color="#85daff"></stop></linearGradient></defs></svg>
      <span data-v-76c247f8="" onclick="window.location='/wallet'">Wallet</span>
    </div>
    <div data-v-76c247f8="" class="tabbar__container-item" onclick="window.location='/mian'">
      <svg data-v-c4b9aaee="" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="none" viewBox="0 0 46 44" class=""><path stroke="#50a1f2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M24 22a9 9 0 1 0 0-18 9 9 0 0 0 0 18"></path><path stroke="#50a1f2" stroke-width="2" d="M7 35a9 9 0 0 1 9-9h16a9 9 0 1 1 0 18H16a9 9 0 0 1-9-9Z"></path></svg>
      <span data-v-76c247f8="" onclick="window.location='/mian'">Account</span>
    </div>
  </div>
</div>
<script>
    let url = window.location.pathname;
    let check = document.querySelector(`.van-tabbar-item[data-url='${url}']`);
    document.querySelector('#nav_checkUrl').setAttribute('data-url', url);
    if (check) check.classList.add('block-click');
    let pathname = document.querySelector('#nav_checkUrl').getAttribute('data-url');
    let select = 0;
    switch (pathname) {
        case '/home':
            select = 0;
            break;
        case '/checkIn':
            select = 1;
            break;
        case '/promotion':
            select = 2;
            break;
        case '/wallet':
            select = 3;
            break;
        case '/mian':
            select = 4;
            break;
        default:
            break;
    }

    let arr = [
        { id: 1, src: '/images/home.png' },
        { id: 2, src: '/images/checkIn.png' },
        { id: 3, src: '/images/invite.webp' },
        { id: 4, src: '/images/wallet2.png' },
        { id: 5, src: '/images/me2.png' },
    ];
</script>  <script>
    // Get the tab list element
    const tabList = document.querySelector('.fun-tabs__tab-list');
  
    // Define the current position of the tab list
    let currentPosition = 0;
  
    // Function to slide the tab list to the left
    function slideLeft() {
      currentPosition += 100; // Adjust the value according to your design
      tabList.style.transform = `translateX(${currentPosition}px)`;
    }
  
    // Function to slide the tab list to the right
    function slideRight() {
      currentPosition -= 100; // Adjust the value according to your design
      tabList.style.transform = `translateX(${currentPosition}px)`;
    }
  </script>
</body>

</html>