<!-- <div data-v-484ec2ec="" data-v-7f6450a2="" class="GameList__C">

    <div data-v-484ec2ec="" class="GameList__C-item active">
        <div data-v-484ec2ec="" class="van-image">Win Go<br>1Min</div>
    </div>
    <div data-v-484ec2ec="" class="img c-row c-row-center p-b-10 GameList__C-item" onclick="location.href='/win/3'">
        <div data-v-484ec2ec="" class="van-image">Win Go<br>3Min</div>
    </div>
    <div data-v-484ec2ec="" class="GameList__C-item" onclick="location.href='/win/5'">
        <div data-v-484ec2ec="">Win Go<br>5Min</div>
    </div>
    <div data-v-484ec2ec="" class="GameList__C-item" onclick="location.href='/win/10'">
        <div data-v-484ec2ec="">Win Go<br>10Min</div>
    </div>
</div> -->


<div data-v-a9660e98="" class="box c-row" style="border-radius: 10px">
    <div data-v-a9660e98="" class="item c-tc" style="border-radius: 0px;">

        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win'">
            <div data-v-a9660e98="" class="van-image" style="width: 65px;
            height: 65px;">
                <img src="/assets/png/time_a-f83ed4c71.png" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="    width: 60px;
            height: 60px; display: none">
                <img src="/assets/png/time-5d4e96a3.png" class="van-image__img" />
            </div>

        </div>

        <div data-v-a9660e98="" class="txt c-tc">Win Go<br>1Min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc"  style="border-radius: 0px;">

        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/3'">
            <div data-v-a9660e98="" class="van-image" style="width: 65px;
    height: 65px; display: none">
                <img src="/assets/png/time_a-f83ed4c71.png" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="    width: 60px;
            height: 60px">
                <img src="/assets/png/time-5d4e96a3.png" class="van-image__img" />
            </div>

        </div>
        <div data-v-a9660e98="" class="txt c-tc">Win Go<br>3Min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc"  style="border-radius: 0px;">

        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/5'">
            <div data-v-a9660e98="" class="van-image" style="width: 65px;
    height: 65px; display: none">
                <img src="/assets/png/time_a-f83ed4c71.png" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="    width: 60px;
            height: 60px">
                <img src="/assets/png/time-5d4e96a3.png" class="van-image__img" />
            </div>

        </div>
        <div data-v-a9660e98="" class="txt c-tc">Win Go<br>5Min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc"  style="border-radius: 0px;">

        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/10'">
            <div data-v-a9660e98="" class="van-image" style="width: 65px;
    height: 65px; display: none">
                <img src="/assets/png/time_a-f83ed4c71.png" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="    width: 60px;
            height: 60px">
                <img src="/assets/png/time-5d4e96a3.png" class="van-image__img" />
            </div>

        </div>
        <div data-v-a9660e98="" class="txt c-tc">Win Go<br>10Min</div>
    </div>
</div>
